<p id="notice"><%= notice %></p>

<p>
  <strong>Lesson:</strong>
  <%= @curriculum.departmentlesson.lesson.name %>
</p>

<p>
  <strong>Academicterm:</strong>
  <%= @curriculum.academicterm.year.to_s+""+@curriculum.academicterm.term %>
</p>

<p>
  <strong>Instructor:</strong>
  <%= @curriculum.admin.name+""+@curriculum.admin.surname %>
</p>
