<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>

  </head>
  <body>
    <h2>Welcome To Weekly Schedule Generator</h2>
    <p>To create weekly schedule, first create required objects:</p>
    <ul>
      <li>University,facilities and departments</li>
      <li>Days,lessonhours and academic terms</li>
      <li>Lessons,Lessons belonging departments</li>
      <li>After adding lessons add it to respective cirruculum</li>

    </ul>
  </body>
</html>
